In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import sklearn

In [4]:
data=pd.read_csv('../data/HousingData.csv')
df=pd.DataFrame(data)
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,NaN,36.2

In [5]:
df.columns

Index(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO', 'B', 'LSTAT', 'MEDV'],
      dtype='object')

In [19]:
df.isnull().values.any() # check is there any null values

np.True_

In [ ]:
df.isnull() # boolean data frame

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,False,False,False,False,False,False,False,False,False,False,False,False,True,False
502,False,False,False,False,False,False,False,False,False,False,False,False,False,False
503,False,False,False,False,False,False,False,False,False,False,False,False,False,False
504,False,False,False,False,False,False,False,False,False,False,False,False,False,False
505,False,False,False,False,False,False,True,False,False,False,False,False,False,False

In [ ]:
df.isnull().values #boolean np array

array([[False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       ...,
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False]], shape=(506, 14))

In [ ]:
df.isnull().sum() #column wise count of null values

CRIM       20
ZN         20
INDUS      20
CHAS       20
NOX         0
RM          0
AGE        20
DIS         0
RAD         0
TAX         0
PTRATIO     0
B           0
LSTAT      20
MEDV        0
dtype: int64

In [ ]:
df.isnull().values.sum() # total null values in the boolean np array

np.int64(120)

In [ ]:
df.isnull().sum().sum() # total null values in each column

np.int64(120)

In [27]:
df.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
count,486.000000,486.000000,486.000000,486.000000,506.000000,506.000000,486.000000,506.000000,506.000000,506.000000,506.000000,506.000000,486.000000,506.000000
mean,3.611874,11.211934,11.083992,0.069959,0.554695,6.284634,68.518519,3.795043,9.549407,408.237154,18.455534,356.674032,12.715432,22.532806
std,8.720192,23.388876,6.835896,0.255340,0.115878,0.702617,27.999513,2.105710,8.707259,168.537116,2.164946,91.294864,7.155871,9.197104
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.081900,0.000000,5.190000,0.000000,0.449000,5.885500,45.175000,2.100175,4.000000,279.000000,17.400000,375.377500,7.125000,17.025000
50%,0.253715,0.000000,9.690000,0.000000,0.538000,6.208500,76.800000,3.207450,5.000000,330.000000,19.050000,391.440000,11.430000,21.200000
75%,3.560263,12.500000,18.100000,0.000000,0.624000,6.623500,93.975000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

In [29]:
df.columns

Index(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO', 'B', 'LSTAT', 'MEDV'],
      dtype='object')

In [42]:
for col in df.columns:
    print(df[col].value_counts())

CRIM
0.01501     2
14.33370    2
0.20746     1
0.18337     1
0.02729     1
           ..
0.62739     1
1.05393     1
0.78420     1
0.80271     1
0.03237     1
Name: count, Length: 484, dtype: int64
ZN
0.0      360
20.0      20
80.0      14
22.0      10
25.0      10
12.5      10
45.0       6
40.0       6
30.0       5
90.0       5
33.0       4
21.0       4
95.0       4
60.0       4
75.0       3
70.0       3
52.5       3
55.0       3
82.5       2
28.0       2
35.0       2
85.0       2
17.5       1
100.0      1
18.0       1
34.0       1
Name: count, dtype: int64
INDUS
18.10    127
19.58     28
8.14      22
6.20      18
21.89     14
        ...
1.89       1
2.01       1
4.15       1
3.78       1
2.02       1
Name: count, Length: 76, dtype: int64
CHAS
0.0    452
1.0     34
Name: count, dtype: int64
NOX
0.538    23
0.713    18
0.437    17
0.871    16
0.624    15
         ..
0.422     1
0.389     1
0.385     1
0.435     1
0.518     1
Name: count, Length: 81, dtype: int64
RM
6.229    3
6.127    3
5.713    3
6.417    3
6.405    3
        ..
6.484    1
6.242    1
6.674    1
6.377    1
5.631    1
Name: count, Length: 446, dtype: int64
AGE
100.0    42
97.9      4
96.0      4
95.4      4
98.8      4
         ..
61.4      1
85.7      1
90.3      1
88.8      1
78.9      1
Name: count, Length: 348, dtype: int64
DIS
3.4952    5
5.4007    4
5.2873    4
5.7209    4
6.8147    4
         ..
4.4547    1
4.2390    1
4.2330    1
4.1750    1
2.3552    1
Name: count, Length: 412, dtype: int64
RAD
24    132
5     115
4     110
3      38
6      26
8      24
2      24
1      20
7      17
Name: count, dtype: int64
TAX
666    132
307     40
403     30
437     15
304     14
      ...
244      1
280      1
351      1
422      1
187      1
Name: count, Length: 66, dtype: int64
PTRATIO
20.2    140
14.7     34
21.0     27
17.8     23
19.2     19
17.4     18
19.1     17
18.6     17
18.4     16
16.6     16
21.2     15
15.2     13
13.0     12
17.9     11
20.9     11
18.7      9
19.7      8
19.6      8
17.6      7
16.4      6
16.0      5
16.9      5
20.1      5
18.0      5
16.1      5
14.9      4
18.3      4
16.8      4
18.2      4
17.0      4
19.0      4
18.5      4
12.6      3
15.3      3
14.8      3
18.9      3
22.0      2
15.6      2
18.8      2
15.9      2
21.1      1
15.1      1
17.3      1
14.4      1
13.6      1
15.5      1
Name: count, dtype: int64
B
396.90    121
395.24      3
393.74      3
395.58      2
393.23      2
         ...
392.53      1
394.54      1
394.33      1
303.42      1
50.92       1
Name: count, Length: 357, dtype: int64
LSTAT
14.10    3
8.05     3
6.36     3
7.79     3
18.13    3
        ..
11.69    1
11.28    1
21.02    1
13.83    1
18.72    1
Name: count, Length: 438, dtype: int64
MEDV
50.0    16
25.0     8
23.1     7
22.0     7
21.7     7
        ..
12.6     1
16.4     1
17.7     1
12.0     1
8.1      1
Name: count, Length: 229, dtype: int64

In [43]:
df['RAD'].value_counts()

RAD
24    132
5     115
4     110
3      38
6      26
8      24
2      24
1      20
7      17
Name: count, dtype: int64

In [45]:
for col in df.select_dtypes(include='number'):
    df[col]=df[col].fillna(df[col].mean())

In [48]:
df.isnull().any().sum()

np.int64(0)